# OS/editor
.DS_Store
desktop.ini
.ipynb_checkpoints/

# local scratch
_cache/
Datasets/

# large data (use Releases/Zenodo instead)
PRJNA413956/quants/
PRJNA413956/PRJNA413956_quants_v1.tar.gz
PRJNA413956/PRJNA413956_quants_v1.tar.gz.sha256
PRJNA413956_quants_v1.tar.gz
PRJNA413956_quants_v1.tar.gz.sha256

# reference FASTA & indexes (re-downloadable)
PRJNA413956/gencode*.fa
PRJNA413956/gencode*.fa.*
